				<br />
			</div>


			<nav id="footer" class="navbar navbar-expand-lg bg-primary " style="color: #ffff00">

        <div class="container">
					<div class="row">
						<div class="col align-middle">

							<br />

							<ul class="list-inline">
								<li class="list-inline-item pe-3">
									<a href="https://www.facebook.com/insulaedraconis/" class="text-reset"><i class="fab fa-facebook"></i> Facebook</a>
								</li>
								<li class="list-inline-item pe-3">
									<a href="mailto:webminister@insulaedraconis.org" class="text-reset"><i class="fas fa-envelope"></i> Email Webminister
									</a>
								</li>
								<li class="list-inline-item pe-3">
									<a href="https://membermojo.co.uk/scauk" class="text-reset" target="_self">
										<i class="fa fa-university"></i>Get or renew your membership
									</a>
								</li>
							</ul>

							<div>
								&copy; 2020 SCA (Insulae Draconis). This is the recognised web site for the
								Principality of Insulae Draconis in the
								<a href="https://www.sca.org/" class="text-reset">Society for Creative Anachronism</a>.<br />
								Copyright on all content and images remains with the creators. 
							</div>

							<br />

						</div>
					</div>

        </div>

      </nav>

	</body>
</html>
