											<section>
{% assign officer = site.data.regnum | where:"group", "Insulae Draconis" | where:"office", "moas" | last %}

{% include officer-for-sidebar.html %}

<hr />

<a href="{% link activities/a-and-s/competitions.md %}">A&S Competitions</a><br />
<a href="{% link activities/a-and-s/documentation.md %}">A&S Documentation - why and how</a>
<a href="{% link activities/a-and-s/research.md %}">Research</a>

<hr />

<h3>Exploring A&S</h3>

<a href="{% link activities/a-and-s/garbmaking.md %}">Costuming</a><br />
<a href="{% link activities/a-and-s/cooking-and-feasting.md %}">Cooking and Feasting</a><br />
<a href="{% link activities/a-and-s/fibre.md %}">Fibre Arts</a><br />
<a href="{% link activities/a-and-s/bardic-and-dancing.md %}">Performing Arts</a><br />
<a href="{% link activities/a-and-s/scribal.md %}">Scribal Arts</a><br />