<section>
{% include officer-for-sidebar.html  office="armoured-combat-marshal" %}

<hr>

<a href="{% link activities/armoured-combat/how-to-knight-marshal.md %}">Learn about the role of Marshals</a><br />
<a href="{% link activities/armoured-combat/authorisation.md %}">How to prepare for Authorisation</a><br />
<a href="http://www.sca.org/officers/marshal/docs/marshal_handbook.pdf">Marshal's Handbook</a><br />
<a href="{% link activities/armoured-combat/covid-guidelines.md %}">COVID guidelines for resuming armoured combat</a>

<hr />

<h3>The Dawn Company</h3>

<p>The Dawn Company is a group formed to promote, encourage and champion armoured combat in Insulae Draconis.</p>

<a role="button" class="btn btn-primary" href="{% link activities/armoured-combat/dawn-company.md %}">Learn more</a>