<section>

{% include officer-for-sidebar.html office="archery-thrown-marshal" %}

<hr />

<a href="http://www.sca.org/officers/marshal/docs/t_archery/target_archery_rules.pdf">Target Archery Rules</a><br />
<a href="{% link activities/archery/archery-marshals.md %}">Learn more about archery marshals</a><br />
<a href="{% link library/group-resources/shire-captain-of-archers.md %}">Help with becoming your group Captain of Archers</a><br />
<a href="https://drachenwald.sca.org/offices/archery-thrown-marshal/#drachenwald-company-of-archers">Drachenwald Company of Archers</a><br />