<section>
  
  <h3>The Journal of Diverse Arts</h3>
  <p>
    This is a collection of pages written by our members detailing various A&S projects they have worked on.  If you would like to submit a piece or suggest an article on a particular subject please contact us!
  </p>
  <p><a href="{% link library/publications/diverse-arts/index.md %}" class="btn btn-primary">Learn More</a></p>
</section>
 <hr />
      
<section>
  
<h3>Exploring the Journal </h3>
<p>
  Some of the articles currently online:
</p>

<ul>
<li><a href="/Library/Publications/DiverseArts/travelchest.html">Medieval furniture for Mundane Travel:  the Chest</a></li>
<li><A href="/Library/Publications/DiverseArts/brickworkbag.html">A 14th century German brickstitch bag</a></li>
<li><a href="/Library/Publications/DiverseArts/breadoven.html">How to make a wood fired bread oven suitable for the 15th Century</a></li>
<li><A href="/Library/Publications/DiverseArts/almondmilkpastry.html">Almond milk pastry --An experiment in pastry creation</a></li>
</ul>

</section>
<hr />

<section>
<h3>Submitting an article to the Journal</h3>
We will be delighted to receive your articles to be included in the Journal, please send them to Master Thomas Flamanc of Kelsale
</section>
<hr />
<section>
<h3>About the Journal</h3>
This journal is not a corporate publication of the SCA UK CIC, and does not delineate SCA policies.
For more information on reprinting images, artwork and articles from these pages, please contact Master Thomas Flamanc, who will assist you in contacting the original creator of the piece. Please respect the rights of our contributors.
</section>






