{% include header.html %}

<div id="main" class="wrapper style3">
	<div class="container">
		<div class="row">
			{% if page.sidebar %}
				<div class="col-12 col-lg-8">
					<section id="content">
						{{ content }}
					</section>
				</div>
				<div class="col-12 col-lg-4">
					<div class="bg-white shadow rounded p-3">
						<section id="sidebar">
							{% include {{ page.sidebar }}.html %}
						</section>
					</div>
				</div>

			{% else %}

				<div class="col-12">
					<section id="content">
						{{ content }}
					</section>
				</div>

			{% endif %}

		</div>
	</div>
</div>

{% include footer.html %}
